node_modules/
build/
dist/
__pycache__/
.turbo/
.project
.settings/
.classpath
.yarn/cache/
.yarn/install-state.gz
.DS_Store
.next/
.tamagui/
*.tsbuildinfo
*_pb.ts
*_connect.ts
*.sublime-project
*.sublime-workspace
/var
/projects/frontend-native/locales
/projects/frontend-web/public/locales
/projects/frontend-web/public/sw.js*
/projects/frontend-web/public/workbox*.js*
.bloop/
.metals/
target/
**/project/project/
**/project/metals.sbt
**/project/target/
**/project/project
**/project/target
.bsp/
